{% include 'home/header.html' %}
{% load widget_tweaks %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Digital Health System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item nav-link">Hello {{request.user.first_name}}</li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a href="/logout" class="nav-item nav-link"> Logout</a>
      </li>  
    </ul>
  </div>
</nav>
<header id="header" class="header">
    <div class="container">
      <a class="btn btn-primary" style="float: right;" href="{% url 'visualize_patient' %}">Back</a>
        <div class="row" style="margin-left: 100px;" >
            <div class="text-container" >
                <h1 class="h1-large">Please Select the form</h1>
                <div class="wrapper" style="margin-left: 130px;">
                  <!-- <input type="hidden" name="patient_id" id="patient_id" step="1" value="{{p_id}}" />
                  <input type="hidden" name="patient_name" id="patient_name" step="1" value="{{p_name}}" /> -->
                  <a class="btn-solid-lg" href="{% url 'anamnesi_personale' %}?pid=p_id={{p_id}}&pname={{p_name}}">Anamnesi Personale</a>
                  <a class="btn-solid-lg secondary" href="{% url 'patient_landing' %}">Anamnesi Familiare(Future Work)</a>
                </div>
               
              </div><!-- </div> end of text-container -->
            
    {% include 'home/footer.html' %}
    
